*{
    font-family: sans-serif;
}
.container{
    max-width: 1470px;
    margin: 0 auto;
}
header{
    background-color: #171717;
}
.inner-content{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 46px;
}
.numbers{
    color: white;
    margin-top: 50px;
}
.numbers span{
    color: #E4B564;
}
.return-call{
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
}
.call-link{
    border: 1px solid #E4B564;
    display: flex;
    justify-content: space-around;
    width: 218px;
    height: 50px;
    text-decoration: none;
    margin-top: 37px;
}
.phone-pic{
    margin-top: 18px;
    width: 13px;
    height: 13px;
}
.phone{
    width: 420px;
    display: flex;
    justify-content: space-between;
}
main{
    /* background-color: #171717; */
    /* padding-top: 128px; */
    padding-bottom: 239px;
    background-color: #171717;
}
.webs-caption{
    padding-top: 128px;
}
.hot-webs{
    background-color: #171717;
}
h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #fff;
    /* width: 599px; */
}
.company-info{
    width: 1182px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-top: 41px;
    padding-bottom: 41px;
}
.webs{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 30px;
    padding-bottom: 161px;
}
.little-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.big-blocks{
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    grid-template-rows: 1fr;
}
.little-block{
    width: 467px;
    height: 468px;
}
.blck-text-lit{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    padding-top: 220px;
}
.st-little-blck{
    background-color: #634F2C;
    /* grid-area: '1st block'; */
}
.nd-little-blck{
    background-color: #B4A385;
    /* grid-area: '2nd block'; */
}
.rd-little-blck{
    background: #E4B564;
    /* grid-area: '3rd block'; */
}
.nd-blck-text{
    width: 380px;
    text-align: center;
    padding-left: 30px;
}
.big-block{
    width: 715px;
    height: 468px; 
}
.st-big-block{
    background-color: #635A4A;
    /* grid-area: '4th block'; */
}
.nd-big-block{
    background-color: #B08C4D;
    /* grid-area: '5th block'; */
}
.big-blck-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 220px;
    text-align: center;
}
.park-cars{
    background-color: #171717;
}
.technical-blocks{
    padding-top: 94px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 1100px;
    /* padding-bottom: 191px;
    flex: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 4fr; */
} 
.tech-block{
    /* padding-bottom: 26px; */
    padding-top: 26px;
    margin-top: 26px;
}
.park-cars-caption{
    flex: block;
}
/* span{
    font-weight: 400;
} */
.tech-block-caption{
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-left: 52px;
}
.st-technical-block{
    width: 467px;
    height: 313px;
    background: #0E0E0E;
}
.nd-technical-block{
    width: 467px;
    height: 439px;
    background: #242424;
}
.rd-technical-block{
    width: 467px;
    height: 255px;
    background: #1F1F1F;
}
.fth-technical-block{
    width: 467px;
    height: 560px;
    background: #1F1F1F;
}
.fifth-technical-block{
    width: 467px;
    height: 405px;
    background: #E4B564;
}
.sth-technical-block{
    width: 467px;
    height: 277px;
    background: #0A0909;
}
.sevth-technical-block{
    width: 467px;
    height: 313px; 
    background: #0E0E0E;
}
.spec-text{
    font-weight: bold;
}
.sth-tech-cap{
    font-weight: bold;
}
.fifth-tech-cap{
    color: #000;
}
.st-column{
    flex: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}
.nd-column{
    flex: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 , 1fr);
}
.rd-column{
    flex: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 , 1fr);
}
.our-clients{
    background: #0E0E0E;
    /* margin-bottom: 239px; */
}
.our-clients-cap{
    /* padding-top: 172px; */
    /* padding-bottom: 172px; */
}
.upper-part{
    display: flex;
    justify-content: space-between;
    padding-top: 161px;
    padding-bottom: 61px;
}
.all-projects{
    text-decoration: none;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    padding: 10px 40px;
}
.blocks-clients{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
}
.block-client{
    /* width: 487px; */
    height: 391px;
}
.st-client{
    background: #634F2C;
}
.nd-client{
    background: rgba(232, 210, 171, 0.76);
}
.rd-client{
    background: #E4B564;
}
.fth-client{
    background: #635A4A;
}
.fifth-client{
    background: #B08C4D;
}
.sth-client{
    background: #634F2C; 
}
.client-img{
    /* display: flex;
    justify-content: center; */
    padding-top: 171px;
    padding-left: 151px;
}
.client-img1{
    padding-left: 217px;
    padding-top: 61px;
}
.client-img2{
    padding-left: 173px;
    padding-top: 3pxS;
}
.client-info{
    width: 326px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    padding-left: 80px;
    padding-top: 6px;
}
.spec-client-info{
    font-weight: 600;
}